// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button__raised--standard {
	  background: none $primary-blue;
	  color: $secondary-gray;
	  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	  border: none;
	  border-radius: 2px;
	  box-sizing: border-box;
	  cursor: pointer;
	  text-decoration: none;
	  padding: 10px 15px;
	  font-size: 15px;
	  text-transform: uppercase;
}