// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Main Content and its container
// -----------------------------------------------------------------------------

// Container Styles
.guide-main-content {
	padding: 110px 0 2rem;
		p {
	  max-width: 1024px;
	  line-height: 1.6;
	  margin: 2em auto;
	  color: #a5a8a9;
	}
}
.guide-main-content.sub-nav-hero.secondary-nav-fixed {
	margin-top: 50px;
}
@media only screen and (min-width: 1024px) {
	.guide-main-content {
		padding: 150px 0 2rem;
	}
}

/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/
.guide-main-content.sub-nav :target::before,
.guide-main-content.sub-nav-hero :target::before {
	display: block;
	content: "";
	margin-top: -50px;
	height: 50px;
	visibility: hidden;
}
@media only screen and (min-width: 1024px) {
	.guide-main-content.sub-nav :target::before,
	.guide-main-content.sub-nav-hero :target::before {
		margin-top: -70px;
		height: 70px;
	}
}

/* -------------------------------- 

Intro Section

-------------------------------- */
.guide-block {
	/* vertically align its content */
	display: table;
	min-height: 300px;
	max-height: 750px;
	height: 100%;
	width: 100%;
	// background-image: url('../assets/one.png');
	// background-image: url('http://placehold.it/1400x750');
	background-size: cover;
	.first-message {
		background-image: url('http://placehold.it/1400x950');
	}

	&:nth-of-type(-n+5) {
		h2 {
			color: #FFF;
		}
	}

	&:nth-of-type(n+6) {
		h2 {
 			color: #435363;
		}
	}

	&:nth-of-type(1) {
		background-color: #FFF;
	}
	&:nth-of-type(2) {
		background-color: #5F6D7C;
	}
	&:nth-of-type(3) {
		background-color: #707880;
	}
	&:nth-of-type(4) {
		background-color: #8B9299;
	}
	&:nth-of-type(5) {
		background-color: #B9BEC2;
	}
	&:nth-of-type(6) {
		background-color: #D3D9DD;
	}
	&:nth-of-type(7) {
		background-color: #E8F0F4;
}

	&:nth-of-type(odd) {

		.guide-block-content-inner {
			

			h2 {
				text-align: left;
			}
		}  
	}
	&:nth-of-type(even) {
		.guide-block-content-inner {
			float: right;
			h2 {
				text-align: left;
			}
		}  
	}
}
.guide-block-content {
	/* vertically align inside parent element */
	display: table-cell;
	vertical-align: middle;

	.guide-block-content-inner {
		
		min-width: 320px;
		width: 60%;
		padding: 3rem;

		h2 {
			font-size: 48px;
		}
	}  
}
@media only screen and (min-width: 768px) {
	.guide-block {
		min-height: 300px;
	}
}
@media only screen and (min-width: 1024px) {
	.guide-block {
		min-height: 300px;
	}
}